#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.showList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.completed {
  color: blueviolet;
  font-weight: bold;
  border: 2px solid transparent;
}

.completed:hover {
  border: 2px solid transparent;
  border-bottom-color: blueviolet;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px sold blueviolet;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0);
  font-size: larger;
  font-weight: bold;
  color: blueviolet;
  margin: 1rem;
  height: 350px;
}

.seasonButtons,
.episodeButtons {
  display: flex;
  flex-direction: row;
}

.completed {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}
.addNew {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0.5rem 1rem;
}
.bPlus,
.bMinus {
  font-size: 1.5rem;
  border-radius: 10px;
  font-weight: bold;
}
.bPlus,
.bMinus,
.addNew,
.delete:hover,
.addNewModal select:focus,
.addNewModal input:focus,
.addNewModal button {
  background-color: blueviolet;
  margin: 0.5rem;
  color: white;
}
.addNewModal select,
.addNewModal input,
.addNewModal button:hover {
  padding: 0.5rem 1rem;
}

.bPlus:hover,
.bMinus:hover,
.addNew:hover,
.delete,
.addNewModal select,
.addNewModal input,
.addNewModal button:hover {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0);
  background-color: white;
  margin: 0.6rem 0;
  color: blueviolet;
}
.bPlus,
.bMinus,
.bPlus:hover,
.bMinus:hover {
  margin: 2px;
  width: 30px;
}

.ratingSpan {
  margin: 1px;
  padding: 1px;
}

.starButton {
  margin: 10px;
  padding: 5px 15px;
}

.addNewModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0);
  margin: 50px;
}
.addNewModal form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  text-align: left;
  color: blueviolet;
  font-size: 1rem;
  font-weight: bold;
}

.SeasonContainer,
.EpisodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

.starRatingContainer {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #root {
    padding: 10px;
  }
  .addNew {
    position: relative;
    font-size: 12px;
    padding: 0.5rem;
    margin: 1rem;
  }
  section.showList {
    flex-direction: column;
  }
  section {
    margin-top: 10px;
  }
  .title {
    font-size: 1.1rem;
  }
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.7rem;
    margin: 0.5rem 0.1rem;
    height: 100%;
    gap: 0.2rem;
  }
  .completed {
    text-align: center;
    margin: 0.1rem;
    font-size: 10px;
  }
  .completedIcon {
    margin: 0.5rem;
  }
  .bPlus,
  .bMinus {
    font-size: 0.5rem;
  }
  .ratingButton {
    margin: 2px;
    padding: 1px 3px;
  }
  .ratingSpan {
    font-size: 0.5rem;
  }

  .starButton {
    margin: 5px;
    font-size: 12px;
    padding: 5px 15px;
  }
  .delete {
    margin: 5px;
    padding: 5px;
  }
  .addNewModal {
    margin: auto;
  }
  .addNewModal form {
    margin: 0.4rem;
    padding: 0.4rem;
    font-size: 12px;
  }
  .SeasonContainer,
  .EpisodeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .starRatingContainer {
    font-size: 0.5rem;
  }
  .bPlus,
  .bMinus,
  .bPlus:hover,
  .bMinus:hover {
    margin: 2px;
    width: 20px;
  }
}
